.book {
    &-wrapper {
        z-index: 3;
        display: flex; 
        transition: max-width .25s ease-in-out;
        max-width: calc(100% - 75px); 
        width: 100%; 
        position: fixed; 
        height: calc(100vh - 73px);
        margin: -45px 0 -2em -75px;

        &__with {
            &-contextBar {                
                max-width: calc(100% - 495px);

                .notePopover {
                    max-width: calc(92vw - 490px) !important;
                }
            }
        }

        &__mobile {
            max-width: calc(100% - 75px);

            .notePopover {
                max-width: calc(92vw - 70px) !important;
            }
        }


        // @media sreen and (min-width: 1370px) {
            right: 0;
        // }
    }
}


#current-nav {
    padding: 1em 0;
    text-align: center;
    width: 100%;
    // border-bottom: 1px solid #efefef;
    position: relative;
    z-index: 999999999;
    height: 75px;
    font-size: .9rem;
    font-weight: bolder;
    max-width: 780px;
    margin: 0 auto;
    // top: -75px;
    left: -105px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#scroller {
    overflow-y: auto;
    overflow-x: hidden;
    // height: calc(100% - 70px); 
    // height: 100%;
    // width: 100%;
    width: 100%;
    height: calc(100vh - 73px);
    position: absolute;
    // border: 2px solid red;

    // background: #f4f5f6;

    &-content {
        // border-left: 2px solid red;
        // border-right: 2px solid red;
        max-width: 780px;
        margin: auto;
        padding: 0 2em 40vh 2em;
        width: 100%;
        // border:2px solid blue;
        word-break: break-word;
        // background:#fff;
        // border: {
        //     right: 1px solid #999;
        //     left: 1px solid #999;
        // }

        // margin-top: 2em;
        // border-top: 1px solid #999;
        // margin-bottom: 2em;
        // border-bottom:1px solid #999;


        // .pagebreak {
        //     background: #f4f5f6;
        //     padding: 4em;
        //     border: 1px solid #999;
        //     margin: 4em -33px;
        //     float:left;
        //     text-align: center;
        //     width: calc(100% + 66px);
        //     border-left: 1px solid #f4f5f6;
        //     border-right: 1px solid #f4f5f6;
        // }

        .notelink {
            text-decoration: none;
        }

        * {
            max-width: 100%;
        }

        sup,
        sub {
            font-size: .6rem !important;
        }

        .table {
            &-documents {
                width: 100%;
                padding: 2em 0;

                td {
                    vertical-align:  top;
                    width: 50%;

                    &:first-child {
                        padding-right: 2em;
                    }

                    &:last-child {
                        padding-left: 2em;
                    }
                }
            }
        }

        .small-right-caption {
            padding-bottom: 2.8em;

            > p {
                padding: 0;
                line-height: .9rem;
            }
        }

        .highlight {
            background-color: transparent !important;
            position: relative;

            :after {
                display: block;
                content: '';
                width: 0px;
                height: 0px;
                // border: 15px solid yellow;
                // border-left: 10px solid transparent;
                // border-bottom: 10px solid transparent;
                border: solid #ccc;
                border-width: 0 5px 5px 0;
                display: inline-block;
                padding: 5px;
                position: absolute;
                left: -42px;
                bottom: 13px;
                transform: rotate(-45deg);

            }
        }

        .pagebreak {
            // display: none;
            opacity: 0;
            
        }

        .stdheader {
            border-bottom: 1px solid #ccc;
            padding-top: 12em;
        }

        .figure {
            border: none;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 3em !important;

            > p {
               padding: 0; 
            }

            &-column {
                flex-direction: column;
                // flex-wrap: wrap;
                max-width: 600px;
                margin: 0 auto;
            }

            &-pair {
                .img-wrapper {
                    width: 100% !important;
                }
            }

            &:not(.nozoom) {

                .img-wrapper {
                    position: relative;
                    overflow: hidden;
                    border-radius: 0px;
                    display: inline-block;
                    margin: 1.5em 1em 3em 1em;
                    pointer-events: none;
                    width: auto;

                    &:after {
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        // border: 5px solid red;
                        width: 100%;
                        height: 100%;
                        box-shadow: inset 0 0 5px 5px #fff;
                        border-radius: 0px;
                        content: "";
                        z-index: 100;
                    }
                }

                > p:first-child {
                    .img-wrapper {
                        margin-left: 0;
                    }
                }

                > p:last-child {
                    .img-wrapper {
                    margin-right: 0;
                    }
                }

                > .img-wrapper:first-child {
                    margin-left: 0;
                }

                > .img-wrapper:last-child {
                    margin-right: 0;
                }



                img.inline {
                    display: inline-block;
                    // border-radius: 25px;
                    cursor: pointer;
                    // border: .5em solid white;                    border-radius: 20px;
                    // transition: box-shadow .3s;
                    max-width: 100%;
                    position: relative;
                    z-index: 1;
                    pointer-events: all;
        
                    

                    &:hover {
                        // box-shadow: 0 0 12px #bbb;
                    }
                }
            }

            &-caption {
                margin-bottom: 3em;
                padding-bottom: 3em;
                margin-top: -1.5em;

                p {
                    padding: 0;
                }

                > p:first-child {
                    // padding-top: 1em;

                    > span {
                        font-size: 12pt !important;
                        font-weight: bold;
                        display: block;
                        padding-bottom:.4em;
                        margin-bottom: -.4em;
                    }
                }
                
            }
        }


        .heading1,
        .heading1 * {
            font-size: 1.6rem !important;
            padding-top: 1em;
            margin-top: 6em
        }

        .heading2,
        .heading2 * {
            font-size: 1.4rem !important;
            padding-top: 1em;
            margin-top: .8em;
            color: #000 !important;
        }

        .heading3,
        .heading3 * {
            font-size: 1.3rem !important;
            padding-top: 1em;
            margin-top: .4em;
            color: #44546A;
        }

        .heading4,
        .heading4 * {
            font-size: 1.3rem !important;
            padding-top: 1em;
            margin-top: .4em;
            display: inline-block
        }

        .heading5,
        .heading5 * {
            font-size: 1.3rem !important;
            padding-top: 1em;
            margin-top: .4em;
        }

        .heading6,
        .heading6 * {
            font-size: 1.2rem !important;
            padding-top: 1em;
            margin-top: .2em;
        }
    }
}

#zoommer {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.75);
    padding: 1em;
    z-index:100;

    display: none;
    align-items: center;
    justify-content: center;

    // pointer-events: none;


    #zoom {
        background-position: 50% 50%;
        position: relative;
        cursor: all-scroll;
        max-width: 90%;
        max-height: 95%;
        border: 1em solid #fff;
        pointer-events: none;
        transition: opacity .5s;
        background-color: #fff;
        background-size: cover;

        &:after {
            position: absolute;
            content: "CHIUDI";
            background: #fff;
            right: -1em;
            top: -3em;
            height: 20px;
            display: block;
            width: auto;
            color: #000;
            cursor: pointer;
            text-align: center;
            padding: .5em;
            pointer-events: all;
        }
    }

    #zoommed-img {
        width: auto;
        height: auto;
        max-width: 100%;
        pointer-events: all;
        
        opacity: 0;
        // max-height: 100vh;
        // border: 1em solid #fff;

        transition: opacity .5s;
        display: block;

        &:hover {
            opacity: 0;
        }
    }
}

@keyframes pulse {
    0% {
        opacity: 1;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}

img.loading {
    animation: pulse 1s infinite ease-in;
}

.chapter-0 {
    .figure.nozoom {

        img {
            width: 100%;
        }

        &:nth-of-type(1) {
            img {
                max-width: 500px !important;
                padding: 4em 0;
            }
        }

        &:nth-of-type(3) {
            img {
                max-width: 660px !important;
                padding: 6em 0;
            }
        }

        &:nth-of-type(2) {
            img {
                max-width: 250px !important;
                padding: 3em 0 6em;
            }
        }

    }
}

.chapter-1 {

    .heading3 {
        margin-top: 3em;
    }

    p:not(.heading1) {
        padding: .8em 0;
    }

    .list {
        text-align: center;

        p {
            &:nth-child(2n + 1) {
                padding-bottom: 0;
            }

            &:nth-child(2n) {
                padding-top: 0;
                padding-left: 1.2em;
                font-size: 10pt;
                
            }

            * {
                font-style: normal !important;
            }
        }
            
    }
}


.chapter-2 {
    .heading4 {
        margin: 1em 0 .3em 0;
        
    }

}

.chapter {
    &-3,
    &-4 {
        .heading3 {
            margin: 2em 0;
        }
    }
}

.chapter-3 {
    .heading6 {
        padding-top: 2.5em !important;
        padding-bottom: 0;
    }
}

.chapter-4 {

    p > b {
        font-size: 11pt;
    }

    .small-table{
        color: #44546A;
        width: 370px !important;
        font-size: 10pt;
        margin-left: -.5em;
        border-collapse: collapse;

        td {
            padding: 0 .5em;
        }
    }

    .TABLE-HERE {
        display: none;
    }

    .heading6 {
        margin-top: 5em !important;
        padding-bottom: .3em;
    }

    .blockquote {
        margin: 1em 0 2em 0;
        margin-right: 0;
    }

    .inline-columns {
        padding-left: 1.5em;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        font-size: 10pt !important;

        &-head {
            margin-top: 1.1em;
        }

        > span {
            padding-right: 5px;

            &:not(.numeric-value) {
                sup {
                    margin-left: -5px
                }

                max-width: calc(100% - 110px) !important;
            }
        }

        > span:first-child:not(.numeric-value) {
            padding-left: 110px;
            display: inline-block;
        }

        > .numeric-value {
            width: 110px;
        }
    }
}

#scroller-content {
    .chapter-5 {
        .heading2 {
            margin-top: 6em !important;
            padding-bottom: .2em;
        }
        
        .heading6 {
            margin-top: 4em !important;
            padding-bottom: 0;

            .notelink sup {
                font-size: .6rem !important;
                margin-left: 5px;
            }
        }

        .heading3{
            padding-bottom: .3em;
            padding-top: 5em;
        }

        .heading7 {
            margin: 2em 0 1em 0;
        }

        .heading8 {
            margin-top:1.5em;

            > span {
                color: #44546A !important;
            }
        }

        .inline-tab {
            display: flex;
            align-items: stretch;
            justify-content: flex-start;

            .text-value {
                width: calc(100% - 120px);

            }

            > .numeric-value {
                width: 100px;
                display: block;
            }
        }

        .notes {
            .note {
                .noteLabel {
                    width: 36px;
                }
                .noteBody {
                    width: calc(100% - 36px);
                }
                > a {
                    margin-left: 36px;
                }
            }
        }

        .inline-tab {
            font-size: 10pt !important; 

            > span:first-child {
                width: 120px;
            }
        }

        .inline-table {
            display: flex;
            justify-content: space-between;

            padding-top: 2em;
            margin-bottom: 1em;

            > span {
                width: 100%;
                text-align: center;
                text-decoration: none !important;
                border-bottom: 1px solid #00F;

                &:nth-child(1) {
                    // width: 20%;
                    border-bottom: 1px solid #333;
                    text-align: left;
                    font-size: 1.1rem !important;
                }
                &:nth-child(2) {
                    // width: 26%;
                    border-bottom: 1px solid #333;
                    margin-right: 4%
                }

                &:nth-child(3),
                &:nth-child(4),
                &:nth-child(5),
                &:nth-child(6),
                &:nth-child(7) {
                    width: 40%;
                }
            }
        }

        .inline-table-row {
            display: flex;
            justify-content: flex-start;

            > span {
                width: 100%;

                &:nth-child(1) {
                    margin-left: 2em;
                    margin-right: -2em;
                }
            }
        }

        .table {
            &-quantitativi {
                margin-bottom: 9em;
                border-collapse: collapse;
                width: 100%;

                * {
                    font-size: 95% !important;
                }

                .notelink {
                    font-size: 8pt !important;
                }

                td {
                    padding-top: .5em;
                    border: 0;
                    text-align: center;
                    font-size: .9rem;

                    color: blue;


                    &:nth-child(1) {
                        padding-left: 1em;
                        color:#000;
                    }

                    &:nth-child(1),
                    &:nth-child(2) {
                        text-align: left;
                        width: 27%;
                    }
                }

                tr:last-child td {
                    font-weight: bold;
                }
            }


            &-row {
                &-head {

                    color: blue;

                    td {
                        padding-top: 3.5em;
                        border-bottom: 1px solid blue;
                        // height: 3.6em;
                        // vertical-align: bottom;

                        &:nth-child(1) {
                            color: #000;
                            padding-left: 0;
                        }

                        &:nth-child(1),
                        &:nth-child(2) {
                            font-weight: 900;
                            border-bottom: 1px solid #000;
                            text-align: left;
                            font-size:1rem !important;
                        }

                        &:nth-child(2) {
                            display: table;
                            margin-top: 3.5em;
                            width: calc(100% - 2em);
                            color: blue;
                        }
                    }

                }
            }
        }
        
    }

    .chapter-11 {
        .inline-tab {
            font-size: 10pt !important; 

            display: table;

            > span:first-child {
                width: 170px;
                display: table-cell;

                &.heading4 {
                    font-size: 11pt !important;
                    padding: 0;
                }
            }
        }

        .heading5 {
            margin: 5em 0 1em 0;
            padding-bottom:.4em;
        }

        .heading4 {
            font-size: 11pt !important;
            padding: 0;
        }

        .heading6 {
            // padding: 1.4em 0 0 0 !important;

            span {
                font-size: 1rem !important;
            }
        }
    }
}

.chapter-6 {
    .hi {
        font-size: 11pt;
        font-style: normal;
    }

    .heading5,
    .heading2,
    .heading3 {
        margin-top: 6em !important;
        padding-bottom: .2em;
    }

    .heading6 {
        padding-left: 110px;
        margin-top: 2.5em !important;
    }


    .inline-tab {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        > span:first-child:not(.numeric-value) {
            width: 150px;
            display: inline-block;
        }
    }

    .inline-columns {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        font-size: 10pt !important;

        > span {
            padding-right: 5px;

            &:not(.numeric-value) {
                sup {
                    margin-left: -5px
                }

                max-width: calc(100% - 110px) !important;
            }
        }

        > span:first-child:not(.numeric-value) {
            padding-left: 110px;
            display: inline-block;
        }

        > .numeric-value {
            width: 110px;
        }
    }
}

#scroller-content {
    .chapter-7,
    .chapter-8,
    .chapter-9 {
        .hi {
            font-size: 11pt;
            font-style: normal;
        }
    
        .heading6 {
            margin-top: 7em !important;
            margin-bottom: .7em !important;
            padding-bottom: .3em;
    
            > span:first-child {
                padding-right: 2em;
            }

            .notelink sup {
                font-size: .6rem !important;
                margin-left: 5px;
            }
        }

        .heading2 {
            margin-top: 10em !important;
            padding-bottom: .2em;
        }

        // p:not(.heading6) {
        //     padding-left: 1em !important;
        // }
    }

    .text-center {
        text-align: left;
        max-width: 480px !important;
        margin: 2em auto !important;
    
        p {
            padding: 0;
    
            &:first-child {
                text-indent: 2em;
            }
        }
    }


    .notePopover {
        position: absolute;
        top: 0;
        margin-left: -1em;
        width: 860px !important;
        max-width: calc(92vw - 70px);
        background: #fff;
        padding: 1em 1.8em;
        border: 2px solid #999;
        border-radius: 9px;
        box-shadow: 0 0 12px 6px #ccc;
        z-index: 200;
        
        :first-child {
            padding-top: 0 !important;
        }

        * {
            font-size: 10pt !important;
        }
    }

}


.spacer {
    margin: 3em 0;
}

.notes {
    margin-top: 6em;

    .note {
        display: flex;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        flex-wrap: wrap;
        text-indent: 0;
        margin: 0;
        padding-bottom: 2em;

        .noteLabel {
            display: block;
            width: 30px;
            padding-top: 6px;
        }

        .noteBody {
            width: calc(100% - 30px);
        }

        > a {
            display: block;
            width: 100%;
            margin-left: 30px;
        }
    }
}




// @media (min-width: 780px) and (max-width: 1560px) {
//     #scroller-content {
//         margin-right: 0;

//         border-left: 2px solid orangered;
//     }
// }