#diva-wrapper {
    .diva {
        &-wrapper {
            min-height: calc(100vh - 175px);
        }
    }

    .no-content {
        width: 100%;
        min-height: 80vh;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #aaa;
        background: #f1f1f1;
    }
}

.diva-title,
.diva-page-label.diva-label {
    display: none !important;
}