$navbar-back-color: #00b5d6;
$white: #fff;
$light-gray-d: #ddd;
$light-gray-e: #eee;
$light-gray-c: #ccc;
$light-gray-a: #aaa;
$black: #000;


$action-button-background: $navbar-back-color;
$active-action-button-background: #11c6e7;

$links: #00b5d6;