.dateRangePicker {
    &-root {

    }

    &-inputs {
        display: flex; 
        justify-content: space-between;
        padding-bottom: .5rem;

        input {
            width: 80px;
            border-radius: .25rem;
            padding: .25rem;
            text-align: center;
            border: none;
            outline: none;
        }
    }
}