@import 'src/app/components/template/Palette.scss';

.select {
    &-root {
        padding: 0 2px;
        width: 100%;
    }

    &-input {
        width: 100%;
        // background: $action-button-background;
        border: none;
        padding: .5rem 1rem;
        // text-transform: uppercase;
        // color: $white;
        border-radius: .25rem;
        outline: none;
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
        cursor: pointer;
        font-size: 1.2rem;
        line-height: 0;

        option {
            background: transparent;
            padding: 1em 0;
            font-family: 'Open Sans', Arial, Helvetica, sans-serif;
        }
    }
}